<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel=stylesheet href="../public/css/404page.css">
    </head>
    <body>
        <h2>404 Error:</h2>
         <h3 >This localhost page cannot be found.</h3>
            <h4>No webpage was found for the web address</h4> <b style="color: rgb(8, 153, 250);">http://<%= urls%></b><br><br>
     <button><a href="/student">Reload</a></button>
        </body>
</html>