<html>
    <head>
        <title>Admin</title>
        <link rel=stylesheet href="../public/css/adminpage.css">
    </head>
    <body onload="myFunction()">
         <div class="loader">
            
            <span></span>
            <span></span>
            <span></span>
            <span></span> 
            <small>Please Wait While Loading....</small>
         </div>
         <section>
         <div class="box" style="display: none;" id="myDiv" >
             <div class="circle">
          <h1>Admin</h1>
      <a href=/adminlogin><button class="login">Login</button></a>
      <a href=#><button class="signup">Sign up</button></a>
     </div>
     </div>
     </section>
     <script src="../public/js/adminpage.js"> </script>
    </body>
</html>